* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.weatherApp {
  height: auto;
  width: 100%;
  overflow-x: hidden;
  /* background-color: orange; */
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.leftSide {
  width: 20%;
}

.rightSide {
  width: 80%;
}
